/* footer */
.footer {
  height: auto;
  background-color: #000000;
  color: #ffffff;

  @include responsive(min-width, 1000px) {
    height: 400px;
    display: flex;
    align-items: center;
  }

  .wrap {
    text-align: center;
    max-width: 900px;
    margin: 0 auto;
    padding: 30px 15px 30px 15px;
  }

  .motion-logo {
    width: 96px;
    display: block;
    margin: 0 auto;
  }

}
