.hero {
  display: flex;
  align-items: center;
  color: $white;

  .wrap {
    max-width: 800px;
    margin: 0 auto;

    h2 {
      font-size: 3em;

      @include responsive(min-width, 1000px) {
        font-size: 7.5em;
      }
    }
  }
}
