/* Typography */
.din-bold {
  font-family: 'DIN Next W01 Bold', Arial, sans-serif;
}

p {
  font-size: 1.5em;
}

h2 {
  font-size: 7.5em;
  text-transform: uppercase;
  font-family: 'DIN Next W01 Bold', Arial, sans-serif;
  line-height: .9;
}
